"*":
  "exception-reporting":
    userId: "aa298e99-4a8e-043f-2195-2d31da4b5aa8"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "Monaco"
    tabLength: 4
    fontSize: 17
  tabs:
    usePreviewTabs: true
  "vim-mode": {}
  "autocomplete-plus": {}
  "fuzzy-finder": {}
  "vim-surround": {}
  jshint:
    validateOnlyOnSave: true
  minimap: {}
