# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
'.source.js':
  'Snippet Name':
    'prefix': 'hello'
    'body': 'Hello World!'

'.text.html':
    'navbar':
        'prefix': 'navbar'
        'body': '''
            <div class="navbar">

                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back back2setting link text-navbar">
                            <i class="icon ios7-arrow-thin-left"></i>
                        </a>
                    </div>

                    <div class="center sliding">{{about}}</div>
                </div>
            </div>'''

      'Snippet Name':
        'prefix': 'hello'
        'body': 'work work'

'.source.less':
	'Image shortcut':
		'prefix': 'url'
		'body': 'url(../images/$1)'
